body {
    background: url("../img/city.jpg") no-repeat center center fixed;
    background-size: cover;
}

.kandor{
    margin: -75px auto;
    text-align: center;
}

.panel-control {
    position:fixed;
    z-index:10;
}
